.currencyBox {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.currencyBox__rate {
    color: #000000;
    /* background-color: #c1b1c963; */
    background-color: white;
    display: grid;
    margin: 20px 30px;
    max-width: 900px;
    padding: 20px 40px;
    border-radius: 9px;
    box-shadow: -4.5px -3.5px 7px 1px teal;
}