html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  padding: 50px 25px;
  max-width: 900px;
  margin: auto;
  resize: both;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-image: url("desertImage.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

}